
@media only screen and (max-width: 1024px) {
    /*-------------------------services-----------------------*/
    .services {
      height: 84vh;
  }
}

@media only screen and (max-width: 1000px) {
    /*-------------------------services-----------------------*/
    .services {
      height: 136vh;
  }
}
@media only screen and (max-width: 912px) {
  /*-------------------------sidebar-----------------------*/
  .sidebar a i {
    padding-left: 14px;
    margin-left: 4px;
    font-size: 14px;
}
.contact-box {
  flex-direction: column;
  justify-content: center;
}
.contacts {
  height: 231vh;
}
}
@media only screen and (max-width: 540px) {
  /*-------------------------services-----------------------*/
  .service {
    width: 100%;
    }
    .services {
      height: 185vh;
  }
  /*-------------------------main-style-----------------------*/
  header {
    padding: 8px;
    height: 90px;
}
.basic-container {
  top: 90px;
}
  label #sidebar-btn, 
  div.fg, div.bg {
    font-size: 12px;
}
  .content-title h1 {
    font-size: 13px;
}
.sidebar .profile-img h4,
  p.footer, p.footer a {
    font-size: 12px;
}
.sidebar a i {
  padding-left: 3px;
  margin-left: 2px;
  font-size: 13px;
}
#check:checked ~ .sidebar a span {
  font-size: 8px;
  margin-left: -37px;
}
  /*-------------------------About-style-----------------------*/
  .about {
   height: 78vh;
   margin-top: 74px;
  }
  /*-------------------------Contacts-----------------------*/
  .contacts {
    margin-top: 72px;
    height: 259vh;
}
  .contacts-container {
    flex-direction: column;
  }
  .contact {
    margin-bottom: 12px;
  }
  /*-------------------------Activities-----------------------*/
  div#graph {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 375px) {
   /*-------------------------main-style-----------------------*/
   .content-title h1 {
    font-size: 11px;
}
  .sidebar .profile-img h4 {
    font-size: 11px;
}
  .sidebar a i {
    padding-left: 4px;
    margin-left: 2px;
    font-size: 12px;
}
}
@media only screen and (max-width: 360px) {
   /*-------------------------footer-style-----------------------*/
   p.footer, p.footer a {
    font-size: 12px;
  }
   /*-------------------------About-style-----------------------*/
   .skills div h4, 
   .content-career div h4, 
   .content-career section h5, 
   .content-career section p,
   .progress-bar {
     font-size: 12px;
 }
}
@media only screen and (max-width: 280px) {
  /*-------------------------About-----------------------*/
  .about {
    height: 146vh;
    margin-top: 59px;
}
  .skills-container, .career-container {
    flex-direction: column;
  }
  .skills {
    margin-bottom: 16px;
}
}
