
@media only screen and (max-width: 1024px) {
      /*-------------------------about-style-----------------------*/
      .about {
        height: 93vh;
    }
    /*-------------------------services-----------------------*/
    .services {
      height: 88vh;
  }
     /*-------------------------Contact-----------------------*/
  .contacts {    
    height: 162vh;
}
 /*-------------------------Works-----------------------*/
 .products-box {
  height: 104vh;
  margin-top: -123px;
}
}

@media only screen and (max-width: 1000px) {
    /*-------------------------services-----------------------*/
    .services {
      height: 136vh;
  }
}
@media only screen and (max-width: 912px) {
  /*-------------------------sidebar-----------------------*/
  .sidebar a i {
    padding-left: 14px;
    margin-left: 4px;
    font-size: 14px;
}
 /*-------------------------Services-----------------------*/
 .services {
  height: 67vh;
}
  /*-------------------------Contact-----------------------*/
.contacts {
  height: 91vh;
}
}
@media only screen and (max-width: 853px) {
   /*-------------------------Services-----------------------*/
 .services {
  height: 71vh;
}
    /*-------------------------Contact-----------------------*/
  .contacts {
      height: 74vh;
  }
}

@media only screen and (max-width: 820px) {
      /*-------------------------about-style-----------------------*/
      .about {
        height: 48vh;
    }
     /*-------------------------Services-----------------------*/
 .services {
  height: 77vh;
}
     /*-------------------------Works-----------------------*/
.products-box {
  height: 103vh;
  margin-top: -106px;
}
  /*-------------------------Contact-----------------------*/
  .contacts {
      height: 88vh;
  }
}
@media only screen and (max-width: 768px) {
    /*-------------------------about-style-----------------------*/
  .about {
    height: 54vh;
}
 /*-------------------------Services-----------------------*/
 .services {
  height: 86vh;
}
 /*-------------------------Works-----------------------*/
.products-box {
  height: 108vh;
  margin-top: -139px;
}
   /*-------------------------Contact-----------------------*/
  .contacts {
      height: 99vh;
  }
}
@media only screen and (max-width: 540px) {
  /*-------------------------services-----------------------*/
  .service {
    width: 100%;
    }
    .services {
      height: 185vh;
  }
  /*-------------------------main-style-----------------------*/
  header {
    padding: 8px;
    height: 90px;
}
.basic-container {
  top: 90px;
}
  label #sidebar-btn, 
  div.fg, div.bg {
    font-size: 12px;
}
  .content-title h1 {
    font-size: 13px;
}
.sidebar .profile-img h4,
  p.footer, p.footer a {
    font-size: 12px;
}
.sidebar a i {
  padding-left: 3px;
  margin-left: 2px;
  font-size: 13px;
}
#check:checked ~ .sidebar a span {
  font-size: 8px;
  margin-left: -37px;
}
  /*-------------------------About-style-----------------------*/
  .about {
   height: 78vh;
   margin-top: 74px;
  }
  /*-------------------------Contacts-----------------------*/
  .contacts {
    margin-top: 72px;
    height: 259vh;
}
  .contacts-container, 
  .contact-box {
    flex-direction: column;
    justify-content: center;
  }
  .contact {
    margin-bottom: 12px;
  }
  /*-------------------------Activities-----------------------*/
  div#graph {
    flex-direction: column;
    justify-content: center;
  }
  /*-------------------------recent-works-----------------------*/
  .filter-button-group button {
    padding: 9px;
    font-size: 10px;
    margin: 3px;
}
  .products-box {
    height: 184vh;
    margin-top: -156px;
  }
}
@media only screen and (max-width: 430px) {
    /*-------------------------About-----------------------*/
  .about {
    height: 53vh;
}
 /*-------------------------Services-----------------------*/
 .services {
  height: 127vh;
}
 /*-------------------------Contacts-----------------------*/
  .contacts {
      height: 199vh;
  }
}
@media only screen and (max-width: 414px) {
  /*-------------------------About-----------------------*/
 .about {
   height: 56vh;
 }
 /*-------------------------Contacts-----------------------*/
 .contacts {
   height: 210vh;
}
 /*-------------------------Services-----------------------*/
.services {
  height: 132vh;
}
 /*-------------------------Works-----------------------*/
.products-box {
  height: 161vh;
  margin-top: -148px;
}
}
@media only screen and (max-width: 390px) {
    /*-------------------------About-----------------------*/
  .about {
    height: 60vh;
}

 /*-------------------------Services-----------------------*/
 .services {
  height: 141vh;
}
 /*-------------------------Contacts-----------------------*/
  .contacts {
      height: 220vh;
  }
}
@media only screen and (max-width: 375px) {
   /*-------------------------main-style-----------------------*/
   .content-title h1 {
    font-size: 11px;
}
  .sidebar .profile-img h4 {
    font-size: 11px;
}
  .sidebar a i {
    padding-left: 4px;
    margin-left: 2px;
    font-size: 12px;
}
   /*-------------------------works-style-----------------------*/
.products-box {
  height: 203vh;
  margin-top: -145px;
}
 /*-------------------------Contacts-----------------------*/
.contacts {
  height: 277vh;
}
}
@media only screen and (max-width: 360px) {
   /*-------------------------footer-style-----------------------*/
   p.footer, p.footer a {
    font-size: 12px;
  }
   /*-------------------------About-style-----------------------*/
   .about {
    height: 64vh;
}
   .skills div h4, 
   .content-career div h4, 
   .content-career section h5, 
   .content-career section p,
   .progress-bar {
     font-size: 12px;
 }
  /*-------------------------Services-----------------------*/
  .services {
    height: 160vh;
  }
  /*-------------------------Works-----------------------*/
  .products-box {
    height: 179vh;
}
   /*-------------------------Contact-style-----------------------*/
  .contacts {
      height: 251vh;
  }
}
@media only screen and (max-width: 344px) {
   /*-------------------------Services-----------------------*/
 .services {
  height: 136vh;
}
     /*-------------------------Contact-style-----------------------*/
  .contacts {
      height: 210vh;
  }
      /*-------------------------Works-style-----------------------*/
  .products-box {
    height: 146vh;
}
}
@media only screen and (max-width: 280px) {
  /*-------------------------About-----------------------*/
  .about {
    height: 146vh;
    margin-top: 59px;
}
  .skills-container, .career-container {
    flex-direction: column;
  }
  .skills {
    margin-bottom: 16px;
}
}
