@media only screen and (max-width: 912px) {
  /*-------------------------sidebar-----------------------*/
  .sidebar a i {
    padding-left: 14px;
    margin-left: 4px;
    font-size: 14px;
}
  /*-------------------------Activities-----------------------*/
.chart-container {
  width: 80%; /* Full width */
  height: 200px; /* Set a height for the chart */
}
}
@media only screen and (max-width: 540px) {
  /*-------------------------main-style-----------------------*/
  header {
    padding: 8px;
    height: 90px;
}
.basic-container {
  top: 90px;
}
  label #sidebar-btn, 
  div.fg, div.bg {
    font-size: 12px;
}
  .content-title h1 {
    font-size: 13px;
}
.sidebar .profile-img h4,
  p.footer, p.footer a {
    font-size: 12px;
}
.sidebar a i {
  padding-left: 3px;
  margin-left: 2px;
  font-size: 13px;
}
#check:checked ~ .sidebar a span {
  font-size: 8px;
  margin-left: -37px;
}
  .contacts-container, 
  .contact-box {
    flex-direction: column;
    justify-content: center;
  }
  .contact {
    margin-bottom: 12px;
  }
  /*-------------------------Activities-----------------------*/
  div#graph {
    flex-direction: column;
    justify-content: center;
  }
  /*-------------------------recent-works-----------------------*/
  .filter-button-group button {
    padding: 9px;
    font-size: 10px;
    margin: 3px;
}
}
@media only screen and (max-width: 375px) {
   /*-------------------------main-style-----------------------*/
   .content-title h1 {
    font-size: 11px;
}
  .sidebar .profile-img h4 {
    font-size: 11px;
}
  .sidebar a i {
    padding-left: 4px;
    margin-left: 2px;
    font-size: 12px;
}
  /*-------------------------Activities-----------------------*/
  .chart-container {
    height: 150px; /* Set a height for the chart */
  }
}
@media only screen and (max-width: 360px) {
   /*-------------------------footer-style-----------------------*/
   p.footer, p.footer a {
    font-size: 12px;
  }
   .skills div h4, 
   .content-career div h4, 
   .content-career section h5, 
   .content-career section p,
   .progress-bar {
     font-size: 12px;
 }
}
@media only screen and (max-width: 280px) {
  .skills-container, .career-container {
    flex-direction: column;
  }
  .skills {
    margin-bottom: 16px;
}
}
